target/
bin/
subbin/
builds/
superbin/
springloaded-*.jar
.DS_Store
/.idea
*.iml
*.ipr
*.iws
/.gradle
build/
springloaded/.classpath
springloaded/.project
springloaded/.settings/org.eclipse.jdt.core.prefs
